<mat-toolbar class="toolbar">
  <span>Fitness Tracker</span>
  <div class="navigation-wrapper">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/workouts" routerLinkActive="active">Edzések</a>
    <a mat-button routerLink="/stats" routerLinkActive="active">Statisztikák</a>
    <a mat-button routerLink="/profile" routerLinkActive="active">Profil</a>
    <a *ngIf="!loggedInUser" mat-button routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
    <a *ngIf="!loggedInUser" mat-button routerLink="/register" routerLinkActive="active">Regisztráció</a>
    <a *ngIf="loggedInUser" mat-button routerLink="/login" routerLinkActive="active"(click)="logout()">Kijelentkezés</a>
    
  </div>
  <button class="menu-icon" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer position="end">
    <mat-list>
      <mat-list-item class="list-item" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/workouts" routerLinkActive="active">
        <mat-icon matListItemIcon>fitness_center</mat-icon>
        <span matListItemTitle>Edzések</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/stats" routerLinkActive="active">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <span matListItemTitle>Statisztikák</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" routerLink="/profile" routerLinkActive="active">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Profil</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!loggedInUser" class="list-item" routerLink="/login" routerLinkActive="active">
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Bejelentkezés</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!loggedInUser" class="list-item" routerLink="/register" routerLinkActive="active">
        <mat-icon matListItemIcon>person_add</mat-icon>
        <span matListItemTitle>Regisztráció</span>
      </mat-list-item>
      <mat-list-item *ngIf="loggedInUser" class="list-item" routerLink="/login" routerLinkActive="active" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Kijelentkezés</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
