@mixin flex(){
    height: 100%;
    display: flex;
    flex-direction: column;
}

@mixin card-header(){
    margin-bottom: 16px;
    color: var(--mat-sys-primary);
}

@mixin card-content(){
    flex: 1;
}

@mixin card-actions(){
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
}

@mixin notes(){
    margin-top: 16px;
    font-style: italic;
    color: #666;
}
@mixin chip-listbox(){
    display: inline-block;
    margin-left: 8px;
}

.workout-card {
    @include flex();
  }

  mat-card-header {
    @include card-header();
  }

  mat-card-content {
    @include card-content();
  }

  mat-card-actions {
    @include card-actions();
  }

  .notes {
   @include notes();
  }

  mat-chip-listbox {
    @include chip-listbox();
  }